<html>
<head>
    <link rel="stylesheet" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<div id="app">
    <p>{{message}}</p>
    <input v-model="message">
</div>

<script src="index.js"></script>
</body>
</html>